/* track.module.css */

.track {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 15px;
  width: 240px;
  color: #f5f5f5;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.track:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  background-color: #3a3a3a;
}

.trackOverlay {
  position: relative;
}

.playIcon {
  font-size: 24px;
  color: #ffab00;
  position: absolute;
  top: 10px;
  right: 10px;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffdd57;
}

.author,
.genres,
.createdAt {
  font-size: 0.9rem;
  color: #ccc;
  margin-top: 5px;
}
